.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.timer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
}

.circle-timer {
  position: relative;
  font-size: 24px;
  top: -9px;
  left: -79px;
}

.timer-display {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  transform: rotate(-90deg); /* Rotates the circle to make the timer start from the top */
}

.stop-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.date-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.times {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.times input {
  margin: 5px;
  padding: 5px;
  width: 150px;
  text-align: center;
}
.select_label{
  background-color: bisque;
  padding: 10px;
  margin: 10px 3px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #000;
  outline: none;
}